<launch>
  <!-- Arguments -->

  <arg name="map_file" default="/home/intemslab/map.yaml"/>
  <arg name="open_rviz" default="false"/>
  <arg name="move_forward_only" default="false"/>

  <arg name="pose_x" default="0.0"/>
  <arg name="pose_y" default="0.0"/>
  <arg name="pose_a" default="0.0"/>

    <arg name="param_folder" default="$(find cube_robot_navigation)/param/cube_robot"/>

  <!-- Turtlebot3 -->
  <include file="$(find cube_robot_meshes_description)/launch/cube_robot_remote.launch"/>


  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find cube_robot_navigation)/launch/amcl.launch">
      <arg name="initial_pose_x" value="$(arg pose_x)"/>
      <arg name="initial_pose_y" value="$(arg pose_y)"/>
      <arg name="initial_pose_a" value="$(arg pose_a)"/>

  </include>

  <!-- move_base -->
  <include file="$(find cube_robot_navigation)/launch/move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    <arg name="param_location" value="$(arg param_folder)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find cube_robot_navigation)/rviz/cube_robot_navigation.rviz"/>
  </group>
</launch>
